from acquire import wrangle_phishing
from prepare import split_xy
from explore import create_clusters


from urllib.parse import urlparse
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier


import streamlit as st
import streamlit.components.v1 as components
from bokeh.models.widgets import Div
